<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account Page</title>
</head>
<body>
    <form action="" method="post">

        {% if full_name %}
        <p>Hello, {{full_name}}! </p>
        <p>Your username: {{username}} </p>
        <p>Your password: {{password}} </p>
        <form action="/login">
            <input type="submit" value="Sign Out">
        </form>
        {% else %}
        <p> {{error}} </p>
        <form action="/login">
            <input type="submit" value="Back">
        </form>
        {% endif %}

    </form>
</body>
</html>
